body{
    background-color: #000;
}
h2,p, label, li, header{
    color: #eee;
}
div{
    background-color: #555;
}
#bookDisplay{
    background-color: #222;
    border: #fff solid 2px;
}
label{
    color: #eee;
}

